$primary-color: #333;
$main-bg-color: #EAEBED;

// Colors
//
$white:  #fff !default;
$black:  #000 !default;
$red:    #f46e65 !default; // red-5
$yellow: #ffce3d !default; // yellow-5
$green:  #3dbd7d !default; // green-5
$blue:   #108ee9 !default; // blue-6
$cyan:   #01BCD4 !default; // material-ui
$purple: #948aec !default; // purple-5
